@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

header {
    background-color: #fceef1;
}

section {
    margin-top: 100px;
}

/* Header section start here */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 105vh;
}

.header-text {
    width: 65%;
}

.header-title {
    font-size: 70px;
    font-weight: 800;
    color: #272727;
    text-align: start;
}

.header-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    padding: 30px 0 30px 0;
    text-align: justify;
}

.btn {
    font-size: 18px;
    font-weight: 700px;
    color: #FFF;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    padding: 20px 35px;
    cursor: pointer;
}

.header-img img {
    width: 110%;
}

/* featured section start here */


.featured-title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #272727;
    margin-bottom: 20px;
}

.featured-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    line-height: 27px;
}

.featured-flowers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-top: 50px;
}

.flower-box1 {
    width: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0 75px;
}

.flower-box1 img {
    width: 100%;
}

.flower-box2 {
    width: 450px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

.flower-box2 img {
    width: 100%;
}

.flower-box3 {
    width: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0 75px;
}

.flower-box3 img {
    width: 100%;
}

.flower-title {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    cursor: pointer;
}

/* Service section start here */

.service {
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    padding: 85px 85px 85px 0;
    cursor: pointer;
}


.service-title {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    margin-top: 20px;
}

/* Hot deal section style */

#offer {
    background-color: #fef6f8;
}

.hot-deal {
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 100px 0 100px 100px;
}

.deal-title {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
}

.deal-title span {
    color: #E55473;
}

.deal-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    color: #626060;
    margin: 25px 0 25px 0;
}

.offer-btn {
    font-size: 18px;
    font-weight: 700px;
    color: #FFF;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    padding: 18px 40px;
    cursor: pointer;
    margin-left: 35%;
}

/* Instagram section */


.insta-title {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
    cursor: pointer;
}

.insta-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    margin: 25px 0 48px 0;
}

.insta-img {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

.insta-img img {
    width: 24%;
}

/* Subscribe section start here */

.sub-title {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
    /* margin-bottom: 50px; */
}

.sub-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}

.latest {
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 75%;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    padding-top: 70px;
}

.latest input {
    width: 600px;
    height: 64px;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
    outline: 0;
}

/* Footer */

footer {
    background-color: black;
}

.footer h1 {
    color: #FFF;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
}

.footer span {
    color: #E55473;
}

.footer h3 {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 28px 0;
}

.footer p {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 128px;
}

.hide {
    display: none;
}

.flower-name {
    display: none;
}

/* Responsive */

@media screen and (max-width: 576px) {
    section {
        margin-top: 70px;
    }

    .container {
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding: 50px 0;
    }

    .header-text {
        width: 90%;
    }

    .header-title {
        font-size: 35px;
        font-weight: 800;
        color: #272727;
        text-align: center;
        padding-top: 20px;
    }

    .header-img{
        width: 80%;
    }

    .btn {
        margin-left: 30%; 
    }

    .header-description {
        font-size: 16px;
    }

    .flower-name {
        display: inline;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: underline;
        margin-top: 5px;
        cursor: pointer;
    }
    
    .flower-title{
        display: none;
    }

    .featured-flowers {
        flex-direction: column;
    }

    .flower-box1 {
        width: 80%;
    }
    
    .flower-box1 img {
        width: 100%;
    }
    
    .flower-box2 {
        width: 80%;
    }
    
    .flower-box2 img {
        width: 100%;
    }
    
    .flower-box3 {
        width: 80%;
    }

    .featured-title {
        font-size: 28px;
        font-weight: 800;
        text-align: center;
    }
    
    .featured-description {
        font-size: 16px;
    }

    /* service */

    .service {
        flex-direction: column;
        padding: 50px 0;
    }
    
    
    .service-title {
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        margin-top: 15px;
    }

    .service-img {
        margin-top: 50px;
    }

    /* hot deal */

    .hot-deal {
        flex-direction: column-reverse;
        padding: 50px 15px;
        gap: 40px;
    }
    
    .deal-title {
        font-size: 20px;
        font-weight: 800;
        color: #272727;
        text-align: center;
    }
    
    .deal-title span {
        color: #E55473;
    }
    
    .deal-description {
        font-size: 15px;
    }
    
    .offer-btn {
        font-size: 16px;
    }

    /* instagram */

    .instagram {
        padding: 0 10px;
    }

    .hot-img img{
        width: 80%;
        margin-left: 35px;
    }

    .insta-title {
        font-size: 30px;
    }
    
    .insta-description {
        font-size: 16px;
        line-height: 25px;
    }
    
    .insta-img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    
    .insta-img img {
        width: 100%;
    }

    /* subscribe */

    .sub-title {
        font-size: 20px;
        font-weight: 800;
        color: #272727;
        text-align: center;
        /* margin-bottom: 50px; */
    }
    
    .sub-description {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        color: rgba(39, 39, 39, 0.60);
    }
    
    .latest {
        background-image: url('../Flower Asset/Rectangle\ 9.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 95%;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 50px;
    }
    
    .latest input {
        width: 170px;
        height: 40px;
        border-radius: 5px;
        font-size: 13px;
        padding-left: 15px;
    }

    .latest input:focus {
        border: 1px solid #E55473;
    }

    .sub-btn {
        font-size: 12px;
        border-radius: 5px;
        padding: 13px 15px;
        position: relative;
        bottom: 40px;
        left: 100px;
    }
}

